h1{
    padding:35px;
    padding-bottom: 0%;
    text-align: center;
}

input[type=text],input[type=password], select {
    width: 100%;
    padding: 5px 10px 5px 10px;
   
    border: 1px solid #ccc;

    
  }
  label{
      text-align: left;
  }
#link{
      text-decoration: none;
      color: white;
  }
#link:hover{
    text-decoration: underline;
    font-weight: bold;
}
