.chat {
    display: grid;
    place-items: center;
    height: 95vh;
}

.chat-body {
    display: flex;
    margin-top: -50px;
    height: 80vh;
    width: 90vw;
}

.sidebar {
    display: flex;
    flex-direction: column;
    flex: 0.25;
    min-width: 0;
}

.chats {
    flex: 1;
    overflow-x: hidden;
    border: solid 1px;
    overflow: scroll;
}

.chats::-webkit-scrollbar {
    display: none;
}

.sidebarChat {
    display: flex;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid;
}

.sidebarChat:hover {
    background-color: #26272f;
}

.sidebarChat:hover h2 {
    background-color: #26272f;
}

.sidebarChat:hover p {
    background-color: #26272f;
}

.sidebarChat-info>h2 {
    font-size: 24px;
    margin-bottom: 0px;
    height: 50%;
}

.sidebarChat-info>p {
    height: 50%;
}

.sidebarChat-info {
    margin-left: 15px;
}