.messages {
  display: flex;
  flex-direction: column;
  flex: 0.65;
  border: solid 1px #ffffff;
}

.messages-header {
  padding: 15px;
  display: flex;
  align-items: center;
  text-align: center;
  border-bottom: 1px solid;
}

.messages-headerInfo {
  flex: 1;
  /* padding-left: 20px; */
}

.messages-headerInfo > h2 {
  /* margin-bottom: 3px; */
  font-weight: 500;
}

.messages-body {
  flex: 1;
  padding: 30px;
  overflow-x: hidden;
}

.messages-body::-webkit-scrollbar {
  visibility: hidden;
}

.messages-body:active::-webkit-scrollbar {
  visibility: visible;
}

.message {
  position: relative;
  font-size: 16px;
  padding: 10px;
  width: fit-content;
  border-radius: 10px;
  background-color: #ffffff;
  margin-bottom: 30px;
  color: rgb(64, 66, 79);
  border-bottom: solid 1px #ffffff;
  margin-left: auto;
}

p[id="received"] {
  margin-left: auto;
}

.message-timestamp {
  margin-left: 10px;
  font-size: xx-small;
  background-color: #ffffff;
}

.message-name {
  position: absolute;
  top: -15px;
  font-weight: 800;
  font-size: xx-small;
  color: #ffffff;
}

.messages-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
  border-bottom: solid 1px #ffffff;
}

.messages-footer > form {
  flex: 1;
  display: flex;
  padding: 10px;
  border-bottom: solid 1px #ffffff;
}

.messages-footer > form > input {
  flex: 1;
  border-radius: 30px;
  padding: 10px;
  border: none;
  background-color: #ffffff;
  outline-width: 0;
}

.messages-footer > form > button {
  display: none;
}
