/* * {
  background-color: rgb(64, 66, 79);
}

h1 {
  font-family: "Quicksand", sans-serif;
  color: white;
  text-decoration: none;
}
h1 a {
  color: white;
  text-decoration: none;
}
h1 a:hover {
  color: white;
  font-weight: bold;
}
div {
  background-color: rgb(64, 66, 79);
  color: white;
  font-family: "Quicksand", sans-serif;
}

} */

/* testing */

.content {
  border: 1px solid #99cced;
}

.info {
  margin: -80px 0px 20px 0px;
}
/* here have problem*/

.info img {
  height: 200px;
  width: 200px;
}
.info h5 {
  margin: 15px 0px 5px 0px;
}
